ul {
  list-style-type: none; /*kiểu danh sách là không */
  margin: 0;
  padding: 0;
}

li {
  display: inline; /* trưng bày hay còn gọi là bày biện trên 1 dòng (inline)* block(khối)*/
}

ul {
  list-style-type: none;/*kiểu danh sách là không */
  margin: 0;
  padding: 0;
  overflow: hidden; /* tràn ra: ẩn */
  background-color:rgb(73, 232, 243);
  position: fixed ; /* chức vụ bất biến hoặc là cố định thanh menu */
  top: 0;
  z-index: 999;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block; /* *trung bày thành khối nếu sử dụng inline thì cái thanh menu rất nhỏ*/
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /*không trang trí văn bản */
}

li a:hover {
  background-color: #111;
}

.f-right{
  /* border: 1px solid yellow; */
  margin-top: 10px; /* top là trên   */
  float: right;
  margin-right: 40px;
}
.search{
  width: 250px;
  height: 32px;
  border: 1px solid rgb(73, 232, 243);
  border-radius: 5px;
}

.fa-search{
  color: white;
  padding-left: 15px;
}

/* ============================= */
.container 
{
  /* border: 1px solid red; */
  margin-top: 150px;
}
#form{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 1200px;
  margin: 0 auto;
  padding-left: 100px;
}

form{
  width: 100%;
  height: 100%;
  background-color:rgba(243, 159, 239, 0.986)  ;
  border-radius: 10px;
  padding: 50px;
  padding-left: 80px;
}
form>h1{text-align: center;}

input[type=text], select, textarea,
#gt, #hobbies{
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(235, 242, 243, 0.993);
  

}
input[type=text]:focus, select:focus, textarea:focus{
  outline: none;
}
#gt>label, #enjoy>label{
  padding-right: 20px;
}

.messError{
  display: block;
  margin-bottom: 25px;
  color: red;
}

.btn-outline-danger{
  float: right;
  margin-right: 100px;
}