:root {
  --spacing: 10px;
  --blur: 0px;
  --base: #ff00b5;
}
.css-variables h2 {
  text-shadow: 0 0 5px #ff00b5;
}
.controls label {
  text-shadow: 0 0 5px #ff00b5;
}
img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

/*
  misc styles, nothing to do with CSS variables
*/

body {
  text-align: center;
  background: #193549 url('../img/1007582.jpg') no-repeat center center;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
